@font-face {
	font-display: swap;
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/be-vietnam-pro-v10-latin/be-vietnam-pro-v10-latin-regular.woff2")
		format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/be-vietnam-pro-v10-latin/be-vietnam-pro-v10-latin-500.woff2")
		format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/be-vietnam-pro-v10-latin/be-vietnam-pro-v10-latin-700.woff2")
		format("woff2");
}
