.logo {
	outline: none;
}
.logo:focus-visible {
	--logo-color: var(--clr-primary-1);
}
.logo svg {
	width: 10rem;
	aspect-ratio: 146 / 24;
}

/* header & footer nav links */
.nav-link {
	position: relative;
	outline: none;
}

.nav-link::before {
	--extra-width: 0.4rem;

	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	height: 0.05rem;
	transform: translateX(calc(var(--extra-width) / -2));
	transition: width 0.25s;
	background-color: var(--clr-neutral-2);
}

:is(.mobile .nav-link, .main-footer .nav-link)::before {
	background-color: var(--clr-primary-1);
}

.nav-link:focus-visible::before {
	width: calc(100% + var(--extra-width));
}

.nav-link:where(:hover, :focus-visible) {
	color: var(--clr-neutral-2);
}

:is(.mobile .nav-link, .main-footer .nav-link):where(:hover, :focus-visible) {
	color: var(--clr-primary-1);
}

/* hero section */
.hero {
	margin-bottom: 8rem;
}

.text-limiter {
	max-width: 30ch;
	margin-block: 2rem 3rem;
}

.hero-img {
	place-self: center;
	transform: scale(1.2) translateX(-5%);
}

.hero .title-lg {
	max-width: 15ch;
}

/* customer value propositions */
.cvp {
	margin-bottom: 8rem;
}

.cvp .title-md {
	max-width: 20ch;
}

.cvp .list {
	place-self: center;
	max-width: 50ch;
	margin-top: 0.8rem;
}

/* slider section */
.testimonials {
	text-align: center;
	margin-bottom: 8rem;
	isolation: isolate;
}

.testimonials .title-md {
	margin-bottom: 4rem;
}

.testimonials .pill-btn {
	place-self: center;
	margin-block: 3rem;
}

/* cta section */
.cta {
	background-color: var(--clr-primary-1);
	padding-block: 4rem;
	overflow: hidden;
}

.cta .title-md {
	color: var(--clr-neutral-4);
}

.cta .pill-btn {
	place-self: center end;
}
