@layer components {
	.top-blob,
	.middle-blob,
	.bottom-blobs {
		position: relative;
	}

	.top-blob::before,
	.middle-blob::before,
	.bottom-blobs::before,
	.bottom-blobs::after {
		position: absolute;
		content: url(/assets/images/bg-tablet-pattern.svg);
		z-index: -1;
	}

	.top-blob::before {
		top: -27rem;
		right: -20rem;
		transform: scale(1.15);
	}

	.middle-blob::before {
		top: 23rem;
		left: -43rem;
		transform: scale(1.15);
	}

	.bottom-blobs {
		isolation: isolate;
	}

	.bottom-blobs::before {
		transform: scale(0.66);
		top: -15rem;
		left: -7rem;
		opacity: 0.15;
	}

	.bottom-blobs::after {
		transform: scale(0.66);
		top: -37rem;
		left: 63rem;
		opacity: 0.15;
	}
}
